<router-outlet></router-outlet>

<div class="container mt-5 dark-background p-3">

  <div class="row px-2">

    <div class="col-sm-4 blue d-flex justify-content-center py-5">Hello Box 1</div>
    <div class="col-sm-4 yellow d-flex py-5 justify-content-center">Hello Box 2</div>
    <div class="col-sm-4 green py-5 d-flex justify-content-center">Hello Box 3</div>

  </div>

  <div class="row mt-sm-3 px-2">
    <div class="col-sm-4 py-5 red d-flex justify-content-center">Hello Box 4</div>
    <div class="col-sm-8 py-5 purple d-flex justify-content-center">Hello Box 5</div>
  </div>

</div>
