<h1>Hello</h1>

<h2>Install Bootstrap and Import some bootstrap components</h2>

<div class="input-group mb-3">
  <span class="input-group-text" id="username">$</span>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Name Here"
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<router-outlet></router-outlet>
