.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.row-1 {
  display: flex;
}

.white {
  color: white;
}
.p {
  position: absolute;
  justify-content: center;
}

.black {
  color:rgba(0, 0, 0, 0.7)
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;
  margin: 5px;
}

.box-33 {
  width: 33.33%;
}
.img {
  width: 30%;
  display: flex;
  align-items: fit;
  padding: 50px 0px;
  margin: 4px;
}

/* .box-66 {
  width: 66.666%;
} */

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}
.grey {
  background-color: grey;
}