.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.row-1 {
  display: flex;
}

.white {
  color: white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;
  margin: 5px;
}

.box-33 {
  width: 33.33%;
}

.box-66 {
  width: 66.666%;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}